{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{template "title" .}}</title>

    <link href="/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link rel="icon" href="/static/k8s-logo.png" type="image/x-icon">


    {{template "header" .}}

    {{if .Site.Config.ShareThisPublisher}}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="//w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
      stLight.options({publisher: "{{.Site.Config.ShareThisPublisher}}", doNotHash: false, doNotCopy: false, hashAddressBar: false});
    </script>
    {{end}}
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
      <div class="container col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{.Site.Config.Title}}</a>
        </div>
        {{if or (and .Site.Categories .Site.Config.ShowCategories) (and .Site.Articles .Site.Config.ShowArchive)}}
        <div class="navbar-collapse collapse">
          {{if or .Site.Pages (and .Site.Articles .Site.Config.ShowArchive)}}
          <ul class="nav navbar-nav navbar-right">
            {{if .Site.Config.ShowArchive}}
              <li><a href="/pages/about.html">About</a></li>
            {{end}}

           </ul>
          {{end}}
        </div>
        {{end}}
      </div>
    </div>

    <div class="container col-md-3 col-lg-3">
      <div class="whitebox"></div>
      {{template "content" .}}
    </div>
     <div class="container col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
            {{range $i, $article := .Articles}}

                <article>
                  <p>
                    <a href="{{$article.Slug}}" class="articleTitle">{{$article.Title}}</a>
                    {{if $article.Tags}}
                      {{range $_, $tag := $article.Tags}}
                        <a class="label label-default tag pull-right" href="/tag/{{$tag}}.html">{{$tag}}</a><span class="pull-right">&nbsp;</span>
                      {{end}}
                    {{end}}

                      {{$article.HTML $article.Content}}

                  </p>
                </article>
                  <hr>

            {{end}}
      </div>

    <div class="container col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="text-center">

        {{template "footer" .}}
      </div>
    </div>

    {{template "analytics" .}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//getbootstrap.com/dist/js/bootstrap.min.js"></script>

  </body>
</html>
{{end}}
