{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{template "title" .}}</title>

    <link href="/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    {{if .Config.Favicon}}
    <link rel="shortcut icon" href="{{.Config.Favicon}}" />
    {{end}}

    {{template "header" .}}

    {{if .Config.ShareThisPublisher}}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="//w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
      stLight.options({publisher: "{{.Config.ShareThisPublisher}}", doNotHash: false, doNotCopy: false, hashAddressBar: false});
    </script>
    {{end}}
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{.Config.Title}}</a>
        </div>
        <nav class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/archives.html">Archives</a></li>
            <li><a href="/pages/about.html">About</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="container">
      {{template "content" .}}
    </div>
    {{template "footer" .}}
    {{template "analytics" .}}
  </body>
</html>
{{end}}
